<div class="row justify-content-around ">
  <h1>&#x2709;&#xFE0F; Mes Email </h1>
  <div class = "text-center">
    <a href="<%=emails_path%>" class="btn btn-secondary" data-method='POST' data-remote='true'>Nouveau Mail</a>
  </div>
</div>
<br> </br>
<div class="row">
  <div class="col-sm-4">
    <table class="table">
      <thead>
        <tr>
          <th>Liste des emails</th>
        </tr>
      </thead>
      <tbody id="body-email">
      <% @emails.each do |email| %>
        <tr>
          <td><a href="<%=email_path(email.id)%>" data-remote='true'><%= email.object %></a></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-8">
    <table class="table">
      <thead>
        <tr>
          <th id="selected-object">Email selectionné</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="selected-body"></td>
        </tr>
      </tbody>
    </table>
    <a href="<%=emails_path%>" class="btn btn-secondary" data-method='POST' data-remote='true'>Marquer comme non-lu</a>
    <a href="<%=emails_path%>" class="btn btn-danger" data-method='POST' data-remote='true'>Supprimer</a>
  </div>
</div>

